doctype
html
    head
        title= "Real time web chat Agent"
        link(rel='stylesheet', href='#{server_ip_address}/agent_css.css')
        script(src='http://code.jquery.com/jquery-2.1.1.min.js')
        script(src='#{server_ip_address}/chat_agent.js')
        script(src='#{server_ip_address}/socket.io/socket.io.js')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic')
    body
        .content
            img(src="#{server_ip_address}/olab_icon.png")
        .content
            h3 Agente
        .agent_data_container
            p(class="chat_status")
            p(class="chat_conn")
            input(type='text', placeholder="Tu nombre", class="inline-block chat-name")
            input(type='text', placeholder="Tu correo", class="inline-block chat-email")
            input.send(type='button', value='Iniciar Agente' class="inline-block chat-type-agent")
        .content
            h3(class="clients-num") Clientes
        .container-all
            div(class="circle left")
                img(src="#{server_ip_address}/arrow_left.png" class="arrow")
            .container-overflow
                .chats-container
            div(class="circle right")
                img(src="#{server_ip_address}/arrow_right.png" class="arrow")